<!-- system wide alert -->
<header id="alertmessage" class="navbar-fixed-top" style="width: 50%;margin-left:25%;margin-top:50px;" align="center">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true" style="margin-top:9px;margin-right:10px;">&times;</button>
		<div class="alert alert-info fade in centered-text" align="center" style="width: 100%;">
			<%= @alertcontent.to_s %>
		</div>
</header>