<!-- Modal -->
<div class="modal fade" id="addfriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 0px;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="title centered-text">
        		Add a friend</h3>
      </div>
    <div class="modal-body" style="padding: 10px;" align="center">
      <%= form_for :addfriend, url: addfriend_path(current_user.name), :html => { :id => 'addfriendform'}, remote: true, class: 'clearfix' do |f| %>
        <%= f.label "Enter your friends username or email" %>
			  <div class="input-group" style="width: 70%;">
          <%= f.text_field :friendname, class: 'form-control', style: 'background: rgba(255, 255, 255, .5);', :autocomplete => :off %>
					  <span class="input-group-btn">
              <%= f.submit 'Add', disable_with: 'Adding…', id: 'addfriendsubmit', class: 'btn btn-default robofont', style: 'height: 34px;background: rgba(255, 255, 255, .5);' %>
						</span>
				</div>
      <% end %>
      <div id="addsuccess" style="display: none;">
        <h3 style="color: green">Successfully added friend</h3>
      </div>
      <div id="adderror" style="display: none;">
        <h3 style="color: red">Error adding friend</h3>
      </div>
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->