<!-- Modal -->
<div class="modal fade" id="addfriend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="title centered-text">
        	<span style="font-size:14px;">
        		Add a friend
        	</span></h3>
      </div>
    <div class="modal-body" style="padding: 10px; background-color:#ececec; margin-bottom: -16;" align="center">
    	Add friend form here
      </div>
    </div>
  </div>
</div>
<!-- end of modal -->