//change all text in the body to the proper styling
.content {
  font-family: "Courier New", Courier, monospace;
  color: #444;
  background-color: #FFFAEE;
  padding: 25px;
}


.post {
    position: absolute;
  width: 82%;
    z-index: 0;
   background: #FFFFFF;
-webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,.5);
box-shadow: 5px 5px 5px 6px rgba(0,0,0,.5);
  -moz-border-radius: 15px;
border-radius: 15px;
}


.post:before {
    content: '';
    position: absolute;
    z-index: -1;
    border: 1px dashed #ccc;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    box-shadow: 0 0 0 1px #fff;
  -moz-border-radius: 15px;
border-radius: 15px;
}

.post:after {

}

//make the line between the lead and the user generated lines
.vline {
  margin: 1em 10em 5em;
  -moz-border-radius: 100px;
border-radius: 100px;
-webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
box-shadow: 1px 1px 6px 1px rgba(0,0,0,.2);
}

//make sure the scene lead looks ok and that the fonts are the right size
.scene_container {
  padding: 10px;
  h1 {
    text-align: center;
  }
  p {
    font-size: 12pt;
    margin-bottom: 2em;
    &.lead {
      margin-bottom: 0;
    }
  }
}


//for rating system stars
.ratings a {
  color: #e5e500;
}
#one:hover {
  color: #e5e500;
  text-decoration: none;
}
#one:hover ~ #two{
  color: #000000;
  text-decoration: none;
}
#one:hover ~ #three {
  color: #000000;
  text-decoration: none;
}
#one:hover ~ #four{
  color: #000000;
  text-decoration: none;
}
#one:hover ~ #five{
  color: #000000;
  text-decoration: none;
}
#two:hover {
  color: #e5e500;
  text-decoration: none;
}
#two:hover ~ #three {
  color: #000000;
  text-decoration: none;
}
#two:hover ~ #four {
  color: #000000;
  text-decoration: none;
}
#two:hover ~ #five {
  color: #000000;
  text-decoration: none;
}
#three:hover {
  color: #e5e500;
  text-decoration: none;
}
#three:hover ~ #four {
  color: #000000;
  text-decoration: none;
}
#three:hover ~ #five{
  color: #000000;
  text-decoration: none;
}
#four:hover {
  color: #e5e500;
  text-decoration: none;
}
#four:hover ~ #five {
  color: #000000;
  text-decoration: none;
}
#five:hover {
  color: #e5e500;
  text-decoration: none;
}
#one:focus {
  color: #e5e500;
  text-decoration: none;
}
#one:focus ~ #two{
  color: #000000;
  text-decoration: none;
}
#one:focus ~ #three {
  color: #000000;
  text-decoration: none;
}
#one:focus ~ #four{
  color: #000000;
  text-decoration: none;
}
#one:focus ~ #five{
  color: #000000;
  text-decoration: none;
}
#two:focus {
  color: #e5e500;
  text-decoration: none;
}
#two:focus ~ #three {
  color: #000000;
  text-decoration: none;
}
#two:focus ~ #four {
  color: #000000;
  text-decoration: none;
}
#two:focus ~ #five {
  color: #000000;
  text-decoration: none;
}
#three:focus {
  color: #e5e500;
  text-decoration: none;
}
#three:focus ~ #four {
  color: #000000;
  text-decoration: none;
}
#three:focus ~ #five{
  color: #000000;
  text-decoration: none;
}
#four:focus {
  color: #e5e500;
  text-decoration: none;
}
#four:focus ~ #five {
  color: #000000;
  text-decoration: none;
}
#five:focus {
  color: #e5e500;
  text-decoration: none;
}
//end rating system css




//make a pretty page appearance shadow effect using css
.shadow
{
}
.shadow:before, .effect8:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.4);
    box-shadow:0 0 15px rgba(0,0,0,0.3);
    top:0px;
    bottom:10px;
    left:0px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
} 
.shadow:after
{
	right:10px; 
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg); 
       -moz-transform:skew(8deg) rotate(3deg);     
        -ms-transform:skew(8deg) rotate(3deg);     
         -o-transform:skew(8deg) rotate(3deg); 
            transform:skew(8deg) rotate(3deg);
}

  .uppercase
  {
    text-transform: uppercase;
  }

//formatting for each user inputted line based on its kind/type
  .sayline {
    .character {
      text-transform: uppercase;
      display: block;
      font-size: 13pt;
      line-height: 1em;
    }

    .line {
      display: inline-block;
      max-width: 45%;
      margin-left: 30%;
    }
  }

  .narrativeline {
    margin-left: -10px;
    .character {
      color: #dadada;
      display: inline-block;
      text-shadow: none;
    }

    .line {
      padding-left: 0;
      padding-right: 0;
      display: inline-block;
    }
  }

#say-your-line {
  display: block;
  clear: both;
  margin-top: 35px;
  .input-append {
    margin-left: 2%;
    .line-content {
    }
  }
}

//Panel for Input Lines/Change Character area.
.input-panel{
  border:solid 1px; 
  border-color:grey; 
  border-radius:20px; 
  padding:20px 0px 20px 0px; 
  background-color: #ececec
}


//inline block things so they appear on one line
.ibl {
  display: inline-block;
  width: auto;
}

//hide something from the user
.hide {
  display: none;
}

.centered-text {
  text-align: center;
}

ul.no-list-style, li.no-list-style {
  list-style: none;
}