      <span class="input-group-btn" id="linekind" style="max-width: 80px;">
      <%= f.select :kind, options_for_select(@line_kinds), {}, {class: "selectpicker"} %>
      </span>_for_select(@line_kinds), {}, {class: "selectpicker"} %>