<!-- form for new character name and scene start -->
<div style="padding-bottom: 0px; padding-top: -50px; margin-top: 0px; margin-bottom: 0px;" id="newscene">

<div class="col-md-12" id="new_scene">
  <div class="panel input-panel form-wrapper col-centered centered-text" id="startscene" style ="width:400px;">
    <div class="ibl" style="margin-left: 38px;">
    <hr>
       <strong><P class="robofont" style="font-size: 24px; font-weight: 300; margin-top: -50px; margin-left: 22px;">Find a new partner:</P></strong>
      <%= form_for :start_path, url: waiting_random_partner_path do |f| %>
        <div class="input-group" style="align:center; margin-top:5px;margin-bottom:-15px;width: 250px; margin-left:35px;">
          <%= f.text_field :character, value: @user.characters.first.nickname, class: "form-control centered-text", style: "font-size:16px;", placeholder: "Character name?" , autofocus: true %>
          <span class="input-group-btn">
            <%= f.submit 'Go', class: 'btn btn-default', style: 'height: 34px;' %>
        </span>
        </div>
      <% end %>
    </div>
  </div>
  <br>
</div>
</div>