
<!-- Footer -->
<footer class="row">  
  <div class="col-md-3">
    <%= link_to "Home", root_url %> | >
  </div>
  <div class="col-md-8">
    <a href="http://scriptwith.me">Scriptwith.me</a> is a project by
    <a href="https://github.com/slacker87">Mike Rickert</a>
  </div>
</footer>
<!-- /Footer -->