<!-- Button trigger modal for help -->
	<button class="helptab" data-toggle="modal" data-target="#help" style="float: right;margin-top:13px;margin-right:-25px;">
		Help
	</button>

<div class="modal fade in" id="help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="title centered-text"> Scriptwith.me <b>FAQ</b></h2>
        </div>
        <div class="modal-body" style="padding: 20px; background-color:#ffffff; margin-bottom: -16;">
    	     <div class="save-body save-content">
    		      <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title centered-text">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                       How do I start? 
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body robofont centered-text">
                   	 <!--<%= image_tag "help-say.png", :alt => "help-say", style: 'height:30px; width:150px; margin-top:-6px;' %> -->
                     <p>your character says something interesting.</p>
                    </div>
                  </div>
                </div>
                 <div class="panel panel-default">
                  <div class="panel-heading" style="background-color:#e9f0f4;">
                    <h4 class="panel-title centered-text">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                       What if I want to change my character?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                       <div class="panel-body robofont centered-text">
                     <!--<%= image_tag "changecharacter1.png", :alt => "change1", style: 'height:36px; width:220px; margin-top:-6px;' %> -->
                     <p>Type in your new character name.</p>
                     
                     <br>
                        <!--<%= image_tag "changecharacter2.png", :alt => "change2", style: 'height:36px; width:42px; margin-top:-6px;' %> -->
                      <p>Click this button or press enter.</p>

                      <br>
                      <!--<%= image_tag "changecharacter3.png", :alt => "change3", style: 'height:20px; width:340px; margin-top:-6px;' %> -->
                      <p>You and your partner will see that your character has changed.</p>
                      </div>
                    </div>
                  </div>

              <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title centered-text">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                       How can I contact scriptwith.me?
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body robofont">
                      Feel free to contact me:
                        <a href="mailto:ccnp_pro@yahoo.com?Subject=Hey%20Mike">Mike Rickert</a>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>